* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: green;
    
}

#myform {
    text-align: center;
}

body {
    border: 10px solid #242424; /* Lighter shade of salmon for the border */
}

p {
    font-size: x-large;
    color: #ffffff; /* White text */
    text-align: center;
}

h2 {
    font-size: xx-large;
    color: #000000; /* Black text */
    text-align: center;
}
